/*FYI google fonts link for html head <link href='https://fonts.googleapis.com/css?family=Montserrat|Domine' rel='stylesheet' type='text/css'>*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p, li {
  font-family: 'Domine', serif;
}

.header {
  height: 300px;
  padding-bottom: 150px;
  background-image: url("../img/hal.jpg");
  background-repeat: no-repeat;

}

h1, h2 {
  color: #fff;
  text-align: center;
}

h2 {
  font-size: 10vw;

}
